/*import das fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

/*import do card*/
@import url('./card/card.css');
@import url('./card/card-description.css');
@import url('./card/card-button.css');


/*Váriaveis*/
:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --active-cyan: hsl(158, 36%, 32%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --montserrat: 'Montserrat', sans-serif;
    --fraunces: 'Fraunces', serif;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    min-width: 1245px;
    max-width: 1440px; 
    height: 100vh;
    margin: 0 auto;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
